---
layout: default
title: Home
---

<div class="row">
    {% for post in paginator.posts %}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="right secondary-content blue-text text-darken-4">{{ post.date | date: "%-d %b %Y" }}</span>
                    <span class="card-title">
                        <a href="{{ post.url }}" class="deep-orange-text text-darken-4">
                            {% if post.card.title %}
                                {{ post.card.title }}
                            {% else %}
                                {{ post.title }}
                            {% endif %}
                        </a>
                    </span>
                    <p>{{ post.content | strip_html | strip_newlines | truncatewords: 28 }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="containter">
    <ul class="pagination center-align teal-text">
        {% if paginator.previous_page %}
            <li class="waves-effect">
                <a href="{{ paginator.previous_page_path }}" class="deep-orange-text text-darken-4">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
        {% else %}
            <li><i class="material-icons grey-text">chevron_left</i></li>
        {% endif %}

        <li class="page_number black-text">{{ paginator.page }} of {{ paginator.total_pages }}</li>

        {% if paginator.next_page %}
            <li class="waves-effect">
                <a href="{{ paginator.next_page_path }}" class="deep-orange-text text-darken-4">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        {% else %}
            <li><i class="material-icons grey-text">chevron_right</i></li>
        {% endif %}
    </ul>
</div>
