<div class="navbar-fixed">
    <nav class="z-depth-1 white" role="navigation">
        <div class="nav-wrapper main-nav">
            <a href="#" data-activates="nav-mobile" class="button-collapse deep-orange-text text-darken-4"><i class="material-icons">menu</i></a>
            <ul class="hide-on-med-and-down">
                <li><a href="{{ site.baseurl }}" class="deep-orange-text text-darken-4">Home</a></li>
                {% assign pages_list = site.pages %}
                {% for node in pages_list %}
                    {% if node.title != null %}
                        {% if node.layout == "page" %}
                            <li><a href="{{ node.url }}" class="deep-orange-text text-darken-4">{{ node.title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="side-nav" id="nav-mobile" >
                <li><a href="{{ site.baseurl }}">Home</a></li>
                {% assign pages_list = site.pages %}
                {% for node in pages_list %}
                    {% if node.title != null %}
                        {% if node.layout == "page" %}
                            <li><a href="{{ node.url }}">{{ node.title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>