---
layout: default
---

<article class="card margin-below">
    <div class="card-content">
        <span class="right secondary-content blue-text text-darken-4">{{ page.date | date: "%-d %b %Y" }}</span>
        <h1 class="card-title deep-orange-text text-darken-4">{{ page.title }}</h1>

        <section class="article-content">
            {{ content }}
        </section>
    </div>
</article>

{% assign maxRelated = 4 %}
{% assign minCommonTags =  2 %}
{% assign maxRelatedCounter = 0 %}

{% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
        {% if post.url != page.url %}
            {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
        {% if shownRelated != 1 %}
            <div class="card margin-below">
                <div class="card-content">
                    <span class="card-title deep-orange-text text-darken-4">Related posts</span>
                    <ul>
        {% endif %}

        {% assign shownRelated = 1 %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a></li>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
            {% break %}
        {% endif %}
    {% endif %}

{% endfor %}
{% if shownRelated == 1 %}
                    </ul>
                </div>
            </div>
{% endif %}

<div id="disqus_thread"></div>